---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
---

<Layout>
  <section class="pt-20 pb-28 text-3xl text-right" id="hero">
    <p>Hello</p>
    <p>
      I'm <span class="italic font-semibold underline decoration-georgia-peach"
        >Alejandro</span
      >
      <span class="italic font-semibold underline decoration-georgia-peach"
        >Moreno</span
      >
    </p>
    <p>a software engineer</p>
    <p>based in Mexico</p>
  </section>
  <Experience />
</Layout>
