---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const expEntries = await getCollection('experiments');
  return expEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const DEFAULT_TITLE = 'Alejandro Moreno - experiments';

const layoutContent = {
  title: entry.data.title ? 'Alejandro Moreno - ${entry.data.title}' : DEFAULT_TITLE,
};
---

<Layout content={layoutContent}>
  <article class="py-10 text-center">
    <h1 class="text-xl">{entry.data.title}</h1>
    <span class="text-xs italic text-stone-400">{entry.data.published.toDateString()}</span>
    <div class="pt-6 text-left">
      <Content />
    </div>
  </article>
</Layout>
