---
import Github from './Github.astro';
import LinkedIn from './LinkedIn.astro';

const year = new Date().getFullYear();
---

<footer
  class="mt-10 pb-4 -mx-4 md:-mx-8 lg:-mx-12 bg-no-repeat bg-gradient-to-t from-background from-30% text-center"
  id="contact"
>
  <ul class="pt-10 pb-14 grid grid-cols-2 gap-4 justify-items-center">
    <li class="w-10 h-10">
      <Github />
    </li>
    <li class="w-10 h-10">
      <LinkedIn />
    </li>
  </ul>
  <span class="text-xs">{year} | Alejandro Moreno</span>
</footer>
