---
import Github from './Github.astro';
import LinkedIn from './LinkedIn.astro';
---

<footer class="mt-10" id="contact">
  <ul class="pt-10 pb-40 grid grid-cols-2 gap-4 justify-items-center">
    <li class="w-10 h-10 place-self-justify">
      <Github />
    </li>
    <li class="w-10 h-10 place-self-justify">
      <LinkedIn />
    </li>
  </ul>
</footer>
