---
import Github from './Github.astro';
import LinkedIn from './LinkedIn.astro';
---

<footer
  class="mt-10 -mx-4 bg-gradient-to-b to-background from-50% from-blueberry"
  id="contact"
>
  <ul class="pt-10 pb-14 grid grid-cols-2 gap-4 justify-items-center">
    <li class="w-10 h-10">
      <Github />
    </li>
    <li class="w-10 h-10">
      <LinkedIn />
    </li>
  </ul>
</footer>
