---
import Menu from './Menu.tsx';
---

<nav role="navigation" class="py-5 grid grid-cols-2 items-center h-fit">
  <h2
    class="font-semibold lg:text-lg text-transparent bg-gradient-to-b from-slate-50 from-10% via-slate-500 via-85% to-slate-100 bg-clip-text"
  >
    Alejandro Moreno
  </h2>
  <Menu client:load />
</nav>
