---
---

<div class="font-logo font-semibold text-2xl bg-slate-200 p-1 h-11 w-11 grid grid-cols-3 content-center">
  <div class="col-[1_/_2] row-[1] text-slate-900 text-right justify-self-start drop-shadow-md">A</div>
  <div class="col-[2_/_3] row-[1] text-slate-900 text-left drop-shadow">M</div>
</div>
