---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/orienta';
import '@fontsource-variable/sora';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body
    class="grid max-md:px-4 mx-auto font-sora bg-blueberry text-zinc-50"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
